openapi: 3.2.0
info:
  title: RentalReady Payment Links API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: payment_links
paths:
  /api/v3/payment_links/:
    get:
      operationId: payment_links_list
      parameters:
      - in: query
        name: category
        schema:
          type: array
          items:
            type: string
        explode: true
        style: form
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: reservation_id
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: status
        schema:
          type: array
          items:
            type: string
            enum:
            - AUTHORIZED
            - FAILED
            - NOT_PAID
            - PAID
            - PROCESSED
            - VOIDED
        description: '* `AUTHORIZED` - Authorized

          * `NOT_PAID` - Not paid

          * `PAID` - Paid

          * `FAILED` - Failed

          * `VOIDED` - Voided

          * `PROCESSED` - Processed'
        explode: true
        style: form
      tags:
      - payment_links
      security:
      - oauth2:
        - payment_links:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPaymentLinkList'
          description: ''
  /api/v3/payment_links/{id}/:
    get:
      operationId: payment_links_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this payment link.
        required: true
      tags:
      - payment_links
      security:
      - oauth2:
        - payment_links:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
          description: ''
  /api/v3/payment_links/{id}/invoice_request/:
    get:
      operationId: payment_links_invoice_request_retrieve
      description: Get the data for the invoice request
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this payment link.
        required: true
      tags:
      - payment_links
      security:
      - oauth2:
        - payment_links:read
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  sender:
                    name: string
                    tax_number: string
                    business_name: string
                    phone: string
                    iban: string
                    logo: string
                    address_line_1: string
                    address_line_2: string
                    postal_code: string
                    city: string
                    country: string
                  recipient:
                    name: string
                    tax_number: string
                    business_name: string
                    phone: string
                    iban: string
                    logo: string
                    address_line_1: string
                    address_line_2: string
                    postal_code: string
                    city: string
                    country: string
                  items:
                  - category: string
                    category_description: string
                    amount: number (gross amount)
                    vat_rate: number
                    quantity: number
          description: ''
components:
  schemas:
    PaginatedPaymentLinkList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLink'
        limit:
          type: integer
          example: 100
    PaymentLinkCategoryEnum:
      enum:
      - EXTRA_SERVICES
      - DAMAGES
      - RESERVATION_PAYMENT
      - CITY_TAX
      - SECURITY_DEPOSIT
      - OTHER
      type: string
      description: '* `EXTRA_SERVICES` - Extra services

        * `DAMAGES` - Damages

        * `RESERVATION_PAYMENT` - Reservation payment

        * `CITY_TAX` - City tax

        * `SECURITY_DEPOSIT` - Security deposit

        * `OTHER` - Other'
    PaymentLinkCurrencyEnum:
      enum:
      - EUR
      - GBP
      - AED
      - HKD
      - CHF
      - SAR
      type: string
      description: '* `EUR` - EUR

        * `GBP` - GBP

        * `AED` - AED

        * `HKD` - HKD

        * `CHF` - CHF

        * `SAR` - SAR'
    PaymentLink:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: integer
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        short_uuid:
          type: string
          readOnly: true
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        amount_received:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        amount_refunded:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        currency:
          $ref: '#/components/schemas/PaymentLinkCurrencyEnum'
        voided_at:
          type:
          - string
          - 'null'
          format: date-time
          title: Voided date
        voided_reason:
          type:
          - string
          - 'null'
          title: Reason for voiding the payment link
        category:
          $ref: '#/components/schemas/PaymentLinkCategoryEnum'
        pre_authorization:
          type: boolean
        status:
          $ref: '#/components/schemas/Status1a4Enum'
        internal_comment:
          type: string
          description: Visible by staff only
        external_comment:
          type: string
          description: Visible by staff and guest
        paid_at:
          type:
          - string
          - 'null'
          format: date-time
          title: Payment date
        last_renewal_failed_at:
          type:
          - string
          - 'null'
          format: date-time
        last_renewal_failure_code:
          type:
          - string
          - 'null'
          maxLength: 64
        last_renewal_failure_message:
          type:
          - string
          - 'null'
        reservation:
          type: integer
        payment_intent:
          type:
          - integer
          - 'null'
        checkout_payment:
          type:
          - integer
          - 'null'
        created_by:
          type:
          - integer
          - 'null'
        voided_by:
          type:
          - integer
          - 'null'
      required:
      - amount
      - category
      - created
      - currency
      - id
      - modified
      - rental_id
      - reservation
      - short_uuid
      - uuid
    Status1a4Enum:
      enum:
      - AUTHORIZED
      - NOT_PAID
      - PAID
      - FAILED
      - VOIDED
      - PROCESSED
      type: string
      description: '* `AUTHORIZED` - Authorized

        * `NOT_PAID` - Not paid

        * `PAID` - Paid

        * `FAILED` - Failed

        * `VOIDED` - Voided

        * `PROCESSED` - Processed'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
