openapi: 3.2.0
info:
  title: RentalReady Check In Steps API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: check_in_steps
paths:
  /api/v3/check_in_steps/:
    get:
      operationId: check_in_steps_list
      description: 'Manage check-in guide steps for properties.


        Steps are instructions shown to guests during check-in.

        Each step belongs to a check-in guide, which is linked to a property.

        Create and order actions require a `rental_id` in the request body.'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: rental_id
        schema:
          type: array
          items:
            type: string
            title: Contract number
        description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        explode: true
        style: form
      tags:
      - check_in_steps
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCheckInStepList'
          description: ''
    post:
      operationId: check_in_steps_create
      description: Create a check-in step. Requires `rental_id` in the request body. If the property has no check-in guide yet, one is created automatically.
      tags:
      - check_in_steps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInStep'
            examples:
              CreateAStep:
                value:
                  rental_id: '87520'
                  content_en: Use the lockbox at the entrance.
                  order: 0
                  show_for_check_in_type: SELF_CHECK_IN
                summary: Create a step
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckInStep'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CheckInStep'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInStep'
          description: ''
  /api/v3/check_in_steps/{id}/:
    get:
      operationId: check_in_steps_retrieve
      description: 'Manage check-in guide steps for properties.


        Steps are instructions shown to guests during check-in.

        Each step belongs to a check-in guide, which is linked to a property.

        Create and order actions require a `rental_id` in the request body.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this check-in step.
        required: true
      tags:
      - check_in_steps
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInStep'
          description: ''
    put:
      operationId: check_in_steps_update
      description: 'Manage check-in guide steps for properties.


        Steps are instructions shown to guests during check-in.

        Each step belongs to a check-in guide, which is linked to a property.

        Create and order actions require a `rental_id` in the request body.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this check-in step.
        required: true
      tags:
      - check_in_steps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInStep'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckInStep'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CheckInStep'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInStep'
          description: ''
    patch:
      operationId: check_in_steps_partial_update
      description: 'Manage check-in guide steps for properties.


        Steps are instructions shown to guests during check-in.

        Each step belongs to a check-in guide, which is linked to a property.

        Create and order actions require a `rental_id` in the request body.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this check-in step.
        required: true
      tags:
      - check_in_steps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCheckInStep'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCheckInStep'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCheckInStep'
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInStep'
          description: ''
    delete:
      operationId: check_in_steps_destroy
      description: Soft-delete a check-in step.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this check-in step.
        required: true
      tags:
      - check_in_steps
      security:
      - oauth2:
        - rentals:write
      responses:
        '204':
          description: No response body
  /api/v3/check_in_steps/order/:
    post:
      operationId: check_in_steps_order_create
      description: Reorder check-in steps for a property. Requires `rental_id` and `step_ids` (ordered list of step IDs).
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: rental_id
        schema:
          type: array
          items:
            type: string
            title: Contract number
        description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        explode: true
        style: form
      tags:
      - check_in_steps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCheckInSteps'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrderCheckInSteps'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrderCheckInSteps'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCheckInStepList'
          description: ''
components:
  schemas:
    CheckInStep:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        order:
          type: integer
          maximum: 32767
          minimum: -32768
          title: Ordering index
        attachment:
          allOf:
          - $ref: '#/components/schemas/CheckInStepAttachment'
        show_for_check_in_type:
          description: 'If not set, the step will be shown for all check-in types.


            * `SELF_CHECK_IN` - Self check-in

            * `IN_PERSON` - In-person check-in'
          oneOf:
          - $ref: '#/components/schemas/ShowForCheckInTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        content_en:
          type: string
        content_fr:
          type: string
        content_pt:
          type: string
        content_es:
          type: string
        content_it:
          type: string
        content_ar:
          type: string
        content_de:
          type: string
        content_pl:
          type: string
        content_nl:
          type: string
      required:
      - order
    BlankEnum:
      enum:
      - ''
    PatchedCheckInStep:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
        order:
          type: integer
          maximum: 32767
          minimum: -32768
          title: Ordering index
        attachment:
          allOf:
          - $ref: '#/components/schemas/CheckInStepAttachment'
        show_for_check_in_type:
          description: 'If not set, the step will be shown for all check-in types.


            * `SELF_CHECK_IN` - Self check-in

            * `IN_PERSON` - In-person check-in'
          oneOf:
          - $ref: '#/components/schemas/ShowForCheckInTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        content_en:
          type: string
        content_fr:
          type: string
        content_pt:
          type: string
        content_es:
          type: string
        content_it:
          type: string
        content_ar:
          type: string
        content_de:
          type: string
        content_pl:
          type: string
        content_nl:
          type: string
    CheckInStepAttachment:
      type: object
      properties:
        image:
          type:
          - string
          - 'null'
          format: uri
        file:
          type:
          - string
          - 'null'
          format: uri
        image_or_file:
          type:
          - string
          - 'null'
          format: uri
    NullEnum:
      enum:
      - null
    OrderCheckInSteps:
      type: object
      properties:
        rental_id:
          type: string
        step_ids:
          type: array
          items:
            type: integer
      required:
      - rental_id
      - step_ids
    PaginatedCheckInStepList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/CheckInStep'
        limit:
          type: integer
          example: 50
    ShowForCheckInTypeEnum:
      enum:
      - SELF_CHECK_IN
      - IN_PERSON
      type: string
      description: '* `SELF_CHECK_IN` - Self check-in

        * `IN_PERSON` - In-person check-in'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
