openapi: 3.2.0
info:
  title: RentalReady Accounting Invoices API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: accounting_invoices
paths:
  /api/v3/accounting_invoices/:
    post:
      operationId: accounting_invoices_create
      tags:
      - accounting_invoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingInvoiceCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccountingInvoiceCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccountingInvoiceCreate'
        required: true
      security:
      - oauth2:
        - accounting_invoice:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingInvoiceCreate'
          description: ''
components:
  schemas:
    AccountingInvoiceCreateCategoryEnum:
      enum:
      - COMMISSION
      - STAY
      - SINGLE_DOCUMENT
      - CLEANING
      - COMMISSION_AND_PAYMENT_FEE
      - PLATFORM_FEE
      - PMS
      - ADJUSTMENT
      - PAYMENT_LINK
      - RESOLUTION
      - EXTRA_FEE
      - GUEST_INVOICE
      type: string
      description: '* `COMMISSION` - Commission

        * `STAY` - Stay

        * `SINGLE_DOCUMENT` - Single document

        * `CLEANING` - Cleaning

        * `COMMISSION_AND_PAYMENT_FEE` - Commission and payment fee

        * `PLATFORM_FEE` - Platform fee

        * `PMS` - Property management software invoice

        * `ADJUSTMENT` - Payout adjustment

        * `PAYMENT_LINK` - Payment link

        * `RESOLUTION` - Resolution

        * `EXTRA_FEE` - Extra fee

        * `GUEST_INVOICE` - Guest invoice'
    CurrencyD53Enum:
      enum:
      - AED
      - AUD
      - BRL
      - CAD
      - CHF
      - CZK
      - EUR
      - GBP
      - HKD
      - IDR
      - ILS
      - JPY
      - KRW
      - MAD
      - MYR
      - PLN
      - RUB
      - SAR
      - THB
      - USD
      type: string
      description: '* `AED` - AED

        * `AUD` - AUD

        * `BRL` - BRL

        * `CAD` - CAD

        * `CHF` - CHF

        * `CZK` - CZK

        * `EUR` - EUR

        * `GBP` - GBP

        * `HKD` - HKD

        * `IDR` - IDR

        * `ILS` - ILS

        * `JPY` - JPY

        * `KRW` - KRW

        * `MAD` - MAD

        * `MYR` - MYR

        * `PLN` - PLN

        * `RUB` - RUB

        * `SAR` - SAR

        * `THB` - THB

        * `USD` - USD'
    AccountingInvoiceCreate:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        external_id:
          type: string
          maxLength: 200
        pdf:
          type: string
          format: uri
        type:
          $ref: '#/components/schemas/AccountingInvoiceCreateTypeEnum'
        category:
          $ref: '#/components/schemas/AccountingInvoiceCreateCategoryEnum'
        original_invoice:
          type:
          - integer
          - 'null'
        serie:
          type:
          - string
          - 'null'
          maxLength: 100
        emmission_date:
          type:
          - string
          - 'null'
          format: date
        description:
          type:
          - string
          - 'null'
          maxLength: 200
        total_net:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
          description: Price without VAT
        total_gross:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
          description: Price with VAT
        total_vat:
          type:
          - string
          - 'null'
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        currency:
          $ref: '#/components/schemas/CurrencyD53Enum'
        reservation:
          type:
          - integer
          - 'null'
        payout_adjustment:
          type:
          - integer
          - 'null'
        payment_link:
          type:
          - integer
          - 'null'
        source_id:
          type: integer
          writeOnly: true
      required:
      - category
      - external_id
      - id
      - pdf
      - source_id
      - type
    AccountingInvoiceCreateTypeEnum:
      enum:
      - INVOICE
      - STATEMENT
      - CREDIT_NOTE
      - RECEIPT
      type: string
      description: '* `INVOICE` - Invoice

        * `STATEMENT` - Statement

        * `CREDIT_NOTE` - Credit Note

        * `RECEIPT` - Receipt'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
