openapi: 3.2.0
info:
  title: RentalReady Midterm Contract Files API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: midterm_contract_files
paths:
  /api/v3/midterm_contract_files/:
    get:
      operationId: midterm_contract_files_list
      description: 'Base viewset for records linked to a reservation and scoped to the

        caller''s rentals.


        Both the queryset and the serializer''s ``reservation`` field are scoped to

        ``user_rentals``, so creating against an unowned or non-existent

        reservation fails uniformly at field validation. Subclasses set

        ``unable_to_save_message`` and may override ``get_create_save_kwargs`` to

        inject server-controlled fields on save.'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: reservation_id
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      tags:
      - midterm_contract_files
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMidtermContractFileList'
          description: ''
    post:
      operationId: midterm_contract_files_create
      description: 'Base viewset for records linked to a reservation and scoped to the

        caller''s rentals.


        Both the queryset and the serializer''s ``reservation`` field are scoped to

        ``user_rentals``, so creating against an unowned or non-existent

        reservation fails uniformly at field validation. Subclasses set

        ``unable_to_save_message`` and may override ``get_create_save_kwargs`` to

        inject server-controlled fields on save.'
      tags:
      - midterm_contract_files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MidtermContractFile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MidtermContractFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MidtermContractFile'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MidtermContractFile'
          description: ''
  /api/v3/midterm_contract_files/{id}/:
    get:
      operationId: midterm_contract_files_retrieve
      description: 'Base viewset for records linked to a reservation and scoped to the

        caller''s rentals.


        Both the queryset and the serializer''s ``reservation`` field are scoped to

        ``user_rentals``, so creating against an unowned or non-existent

        reservation fails uniformly at field validation. Subclasses set

        ``unable_to_save_message`` and may override ``get_create_save_kwargs`` to

        inject server-controlled fields on save.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this midterm contract file.
        required: true
      tags:
      - midterm_contract_files
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MidtermContractFile'
          description: ''
    delete:
      operationId: midterm_contract_files_destroy
      description: 'Base viewset for records linked to a reservation and scoped to the

        caller''s rentals.


        Both the queryset and the serializer''s ``reservation`` field are scoped to

        ``user_rentals``, so creating against an unowned or non-existent

        reservation fails uniformly at field validation. Subclasses set

        ``unable_to_save_message`` and may override ``get_create_save_kwargs`` to

        inject server-controlled fields on save.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this midterm contract file.
        required: true
      tags:
      - midterm_contract_files
      security:
      - oauth2:
        - rentals:write
      responses:
        '204':
          description: No response body
components:
  schemas:
    PaginatedMidtermContractFileList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/MidtermContractFile'
        limit:
          type: integer
          example: 50
    MidtermContractFile:
      type: object
      description: 'Scopes the writable ``reservation`` field to the caller''s rentals.


        Requires ``user_rentals`` in the serializer context. An unowned or

        non-existent reservation pk then fails ``reservation`` field validation

        identically (before any auto-generated ``UniqueValidator`` runs), so the

        existence of other tenants'' reservations -- and whether they already have

        a related record -- cannot be enumerated from the response.'
      properties:
        id:
          type: integer
          readOnly: true
        attachment:
          type: string
          format: uri
        url:
          type:
          - string
          - 'null'
          readOnly: true
        reservation:
          type: integer
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
      required:
      - attachment
      - created
      - id
      - modified
      - reservation
      - url
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
