openapi: 3.2.0
info:
  title: RentalReady Smart Schedulers API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: smart_schedulers
paths:
  /api/v3/smart_schedulers/:
    get:
      operationId: smart_schedulers_list
      description: List smart schedulers (filter by `rental` to scope to a property)
      parameters:
      - in: query
        name: is_active
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: mission_template
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: rental
        schema:
          type: string
          title: Contract number
        description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
      tags:
      - smart_schedulers
      security:
      - oauth2:
        - smart_schedulers:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSmartSchedulerList'
          description: ''
    post:
      operationId: smart_schedulers_create
      description: Create a smart scheduler for a property
      tags:
      - smart_schedulers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
        required: true
      security:
      - oauth2:
        - smart_schedulers:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartScheduler'
          description: ''
  /api/v3/smart_schedulers/{id}/:
    get:
      operationId: smart_schedulers_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this scheduler.
        required: true
      tags:
      - smart_schedulers
      security:
      - oauth2:
        - smart_schedulers:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartScheduler'
          description: ''
    put:
      operationId: smart_schedulers_update
      description: Update a smart scheduler
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this scheduler.
        required: true
      tags:
      - smart_schedulers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SmartScheduler'
        required: true
      security:
      - oauth2:
        - smart_schedulers:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartScheduler'
          description: ''
    patch:
      operationId: smart_schedulers_partial_update
      description: Partially update a smart scheduler
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this scheduler.
        required: true
      tags:
      - smart_schedulers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSmartScheduler'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSmartScheduler'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSmartScheduler'
      security:
      - oauth2:
        - smart_schedulers:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartScheduler'
          description: ''
    delete:
      operationId: smart_schedulers_destroy
      description: Delete a smart scheduler
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this scheduler.
        required: true
      tags:
      - smart_schedulers
      security:
      - oauth2:
        - smart_schedulers:write
      responses:
        '204':
          description: No response body
components:
  schemas:
    PatchedSmartScheduler:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        mission_template:
          type: integer
        schedule:
          type: integer
        default_agent:
          type:
          - integer
          - 'null'
        initial_run:
          type: string
          format: date-time
        is_active:
          type: boolean
          title: Is active?
    PaginatedSmartSchedulerList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/SmartScheduler'
        limit:
          type: integer
          example: 50
    SmartScheduler:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        mission_template:
          type: integer
        schedule:
          type: integer
        default_agent:
          type:
          - integer
          - 'null'
        initial_run:
          type: string
          format: date-time
        is_active:
          type: boolean
          title: Is active?
      required:
      - id
      - mission_template
      - rental
      - schedule
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
