openapi: 3.2.0
info:
  title: RentalReady Listing Requests API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: listing_requests
paths:
  /api/v3/listing_requests/:
    get:
      operationId: listing_requests_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - listing_requests
      security:
      - oauth2:
        - listing_requests:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListingRequestList'
          description: ''
  /api/v3/listing_requests/{id}/:
    get:
      operationId: listing_requests_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this listing request.
        required: true
      tags:
      - listing_requests
      security:
      - oauth2:
        - listing_requests:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingRequest'
          description: ''
components:
  schemas:
    SourceEnum:
      enum:
      - INTERCOM
      - PHONECALL
      - EMAIL
      - MEETING
      - BUTTON
      type: string
      description: '* `INTERCOM` - Intercom

        * `PHONECALL` - Phone call

        * `EMAIL` - Email

        * `MEETING` - Meeting

        * `BUTTON` - Button'
    PaginatedListingRequestList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/ListingRequest'
        limit:
          type: integer
          example: 10
    ListingRequest:
      type: object
      properties:
        rental:
          type: string
        platform:
          type: string
        status:
          $ref: '#/components/schemas/ListingRequestStatusEnum'
        created_at:
          type: string
          format: date-time
        reopen_at:
          type:
          - string
          - 'null'
          format: date-time
        source:
          $ref: '#/components/schemas/SourceEnum'
        staff:
          type: integer
        comment:
          type:
          - string
          - 'null'
        user:
          type: string
          readOnly: true
      required:
      - platform
      - rental
      - source
      - staff
      - status
      - user
    ListingRequestStatusEnum:
      enum:
      - NEW
      - PENDING
      - PENDING_LISTING
      - PUBLISHED
      - CANCELLED
      type: string
      description: '* `NEW` - New

        * `PENDING` - Pending

        * `PENDING_LISTING` - Pending listing

        * `PUBLISHED` - Published

        * `CANCELLED` - Cancelled'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
