openapi: 3.2.0
info:
  title: RentalReady Subrooms API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: subrooms
paths:
  /api/v3/subrooms/:
    get:
      operationId: subrooms_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubroomList'
          description: ''
    post:
      operationId: subrooms_create
      parameters:
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subroom'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Subroom'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Subroom'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subroom'
          description: ''
  /api/v3/subrooms/{id}/:
    get:
      operationId: subrooms_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this subroom.
        required: true
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subroom'
          description: ''
    put:
      operationId: subrooms_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this subroom.
        required: true
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subroom'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Subroom'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Subroom'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subroom'
          description: ''
    patch:
      operationId: subrooms_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this subroom.
        required: true
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSubroom'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSubroom'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSubroom'
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subroom'
          description: ''
    delete:
      operationId: subrooms_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this subroom.
        required: true
      - in: query
        name: rental_id
        schema:
          type: string
        description: 'Multiple rental_id parameters are accepted. Example: rental_id=0000&rental_id=0001'
      - in: query
        name: room_type
        schema:
          type: string
        description: 'Filter by subroom type name. Example: room_type=BEDROOM'
      tags:
      - subrooms
      security:
      - oauth2:
        - rentals:write
      responses:
        '204':
          description: No response body
components:
  schemas:
    Subroom:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: string
          title: Contract number
          description: Id of the property (rental) this room belongs to.
        subroom_type:
          type: string
          description: Room type, given by its name (e.g. BEDROOM, BATHROOM). Use the /api/v3/subroom_types/ endpoint to list available values.
        position:
          type: integer
          readOnly: true
          description: Position of the room within its property, assigned automatically in creation order.
        privacy:
          allOf:
          - $ref: '#/components/schemas/PrivacyEnum'
          default: PRIVATE
          description: 'Privacy level of the room for the guest. Defaults to PRIVATE.


            * `PRIVATE` - Private

            * `SHARED` - Shared

            * `ENSUITE` - Ensuite'
        location:
          description: 'Location of the room relative to the space it serves, such as a bathroom relative to its bedroom. Optional.


            * `ENSUITE` - Ensuite

            * `NEXT_DOOR` - Next door

            * `DOWN_THE_HALL` - Down the hall

            * `OPPOSITE_THE_ROOM` - Opposite to the room

            * `IN_THE_HALLWAY` - In the hallway

            * `OTHER` - Other

            * `INSIDE_THE_UNIT` - Inside the unit'
          oneOf:
          - $ref: '#/components/schemas/LocationEnum'
          - $ref: '#/components/schemas/NullEnum'
        window_coverage:
          description: 'Type of window covering in the room. Optional.


            * `SHUTTER` - Shutter

            * `ESHUTTER` - Electronic Shutter

            * `CURTAIN` - Curtain

            * `STORE` - Store

            * `NOTHING` - No Coverage'
          oneOf:
          - $ref: '#/components/schemas/SubroomWindowCoverageEnum'
          - $ref: '#/components/schemas/NullEnum'
        beds:
          type: array
          items:
            $ref: '#/components/schemas/Bed'
          description: Beds in this room.
      required:
      - id
      - position
      - rental_id
      - subroom_type
    Bed:
      type: object
      properties:
        bed_type:
          type: string
      required:
      - bed_type
    LocationEnum:
      enum:
      - ENSUITE
      - NEXT_DOOR
      - DOWN_THE_HALL
      - OPPOSITE_THE_ROOM
      - IN_THE_HALLWAY
      - OTHER
      - INSIDE_THE_UNIT
      type: string
      description: '* `ENSUITE` - Ensuite

        * `NEXT_DOOR` - Next door

        * `DOWN_THE_HALL` - Down the hall

        * `OPPOSITE_THE_ROOM` - Opposite to the room

        * `IN_THE_HALLWAY` - In the hallway

        * `OTHER` - Other

        * `INSIDE_THE_UNIT` - Inside the unit'
    SubroomWindowCoverageEnum:
      enum:
      - SHUTTER
      - ESHUTTER
      - CURTAIN
      - STORE
      - NOTHING
      type: string
      description: '* `SHUTTER` - Shutter

        * `ESHUTTER` - Electronic Shutter

        * `CURTAIN` - Curtain

        * `STORE` - Store

        * `NOTHING` - No Coverage'
    NullEnum:
      enum:
      - null
    PatchedSubroom:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: string
          title: Contract number
          description: Id of the property (rental) this room belongs to.
        subroom_type:
          type: string
          description: Room type, given by its name (e.g. BEDROOM, BATHROOM). Use the /api/v3/subroom_types/ endpoint to list available values.
        position:
          type: integer
          readOnly: true
          description: Position of the room within its property, assigned automatically in creation order.
        privacy:
          allOf:
          - $ref: '#/components/schemas/PrivacyEnum'
          default: PRIVATE
          description: 'Privacy level of the room for the guest. Defaults to PRIVATE.


            * `PRIVATE` - Private

            * `SHARED` - Shared

            * `ENSUITE` - Ensuite'
        location:
          description: 'Location of the room relative to the space it serves, such as a bathroom relative to its bedroom. Optional.


            * `ENSUITE` - Ensuite

            * `NEXT_DOOR` - Next door

            * `DOWN_THE_HALL` - Down the hall

            * `OPPOSITE_THE_ROOM` - Opposite to the room

            * `IN_THE_HALLWAY` - In the hallway

            * `OTHER` - Other

            * `INSIDE_THE_UNIT` - Inside the unit'
          oneOf:
          - $ref: '#/components/schemas/LocationEnum'
          - $ref: '#/components/schemas/NullEnum'
        window_coverage:
          description: 'Type of window covering in the room. Optional.


            * `SHUTTER` - Shutter

            * `ESHUTTER` - Electronic Shutter

            * `CURTAIN` - Curtain

            * `STORE` - Store

            * `NOTHING` - No Coverage'
          oneOf:
          - $ref: '#/components/schemas/SubroomWindowCoverageEnum'
          - $ref: '#/components/schemas/NullEnum'
        beds:
          type: array
          items:
            $ref: '#/components/schemas/Bed'
          description: Beds in this room.
    PrivacyEnum:
      enum:
      - PRIVATE
      - SHARED
      - ENSUITE
      type: string
      description: '* `PRIVATE` - Private

        * `SHARED` - Shared

        * `ENSUITE` - Ensuite'
    PaginatedSubroomList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Subroom'
        limit:
          type: integer
          example: 50
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
