openapi: 3.2.0
info:
  title: RentalReady Blacklist API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: blacklist
paths:
  /api/v3/blacklist/:
    get:
      operationId: blacklist_list
      parameters:
      - in: query
        name: antenne
        schema:
          type: array
          items:
            type: integer
        description: Office
        explode: true
        style: form
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - in: query
        name: emails
        schema:
          type: string
      - in: query
        name: first_name
        schema:
          type: string
      - in: query
        name: last_name
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: phones
        schema:
          type: string
      - in: query
        name: reservations
        schema:
          type: array
          items:
            type: integer
        description: Reservation
        explode: true
        style: form
      - in: query
        name: reservations__appartement__antenne__property_manager
        schema:
          type: array
          items:
            type: integer
        description: Property manager
        explode: true
        style: form
      - in: query
        name: reservations__reservation_platform
        schema:
          type: array
          items:
            type: integer
        description: Platform
        explode: true
        style: form
      tags:
      - blacklist
      security:
      - oauth2:
        - blacklist:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBlacklistList'
          description: ''
  /api/v3/blacklist/{id}/:
    get:
      operationId: blacklist_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this blacklist.
        required: true
      tags:
      - blacklist
      security:
      - oauth2:
        - blacklist:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blacklist'
          description: ''
components:
  schemas:
    Blacklist:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 50
        last_name:
          type: string
          maxLength: 50
        card_last4:
          type:
          - string
          - 'null'
          maxLength: 4
        card_fingerprint:
          type:
          - string
          - 'null'
          maxLength: 20
        addresses:
          type: array
          items: {}
        emails:
          type: array
          items:
            type: string
            format: email
            maxLength: 254
        phones:
          type: array
          items:
            type: string
            maxLength: 20
        comment:
          type:
          - string
          - 'null'
          maxLength: 1000
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/BlacklistReason'
          readOnly: true
        created_by:
          type: string
          readOnly: true
        reservation_ids:
          type: array
          items:
            type: integer
          readOnly: true
          description: Ids of the reservations linked to this blacklist entry, limited to properties you can access.
        email:
          type: array
          items:
            type: string
          readOnly: true
          description: Personal email addresses taken from the linked reservations.
        office_ids:
          type: array
          items:
            type: integer
          readOnly: true
          description: Ids of the offices of the linked reservations' properties.
        property_manager_ids:
          type: array
          items:
            type: integer
          readOnly: true
          description: Ids of the property managers of the linked reservations' properties.
        platform_ids:
          type: array
          items:
            type: integer
          readOnly: true
          description: Ids of the booking platforms of the linked reservations.
      required:
      - created_by
      - email
      - first_name
      - id
      - last_name
      - office_ids
      - platform_ids
      - property_manager_ids
      - reasons
      - reservation_ids
    BlacklistReason:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
      required:
      - id
      - name
    PaginatedBlacklistList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Blacklist'
        limit:
          type: integer
          example: 50
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
