openapi: 3.2.0
info:
  title: RentalReady Calendar API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: calendar
paths:
  /api/v3/calendar/block/:
    post:
      operationId: calendar_block_create
      description: Block a property's calendar for a date range.
      tags:
      - calendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockCalendar'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BlockCalendar'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BlockCalendar'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  message: Calendar was blocked.
                  id: 123
          description: ''
  /api/v3/calendar/unblock/:
    post:
      operationId: calendar_unblock_create
      description: Unblock a property's calendar for a date range.
      tags:
      - calendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnblockCalendar'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UnblockCalendar'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UnblockCalendar'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  message: Calendar was unblocked.
          description: ''
components:
  schemas:
    BlankEnum:
      enum:
      - ''
    DepartureCleaningEnum:
      enum:
      - FULL_OWNER
      - FULL_PROPERTY_MANAGER
      - DELIVERY
      - CLEANING_ONLY
      - NO_CLEANING
      type: string
      description: '* `FULL_OWNER` - Full cleaning + Owner bedding

        * `FULL_PROPERTY_MANAGER` - Full cleaning + Property manager bedding

        * `DELIVERY` - Delivery (No cleaning + Property manager bedding)

        * `CLEANING_ONLY` - Cleaning only (Full cleaning + Owner bedding)

        * `NO_CLEANING` - No cleaning'
    BlockedReasonEnum:
      enum:
      - HOST_STAY
      - MAINTENANCE
      - OTHER
      - PARTIAL_OCCUPANCY
      - FULL_OCCUPANCY
      - BLOCKED_BY_HOST
      - UPSELLING_REQUEST
      type: string
      description: '* `HOST_STAY` - Owner stay

        * `MAINTENANCE` - Maintenance

        * `OTHER` - Other

        * `PARTIAL_OCCUPANCY` - Partially occupied

        * `FULL_OCCUPANCY` - Fully occupied

        * `BLOCKED_BY_HOST` - Blocked by owner

        * `UPSELLING_REQUEST` - Upselling request'
    UnblockCalendar:
      type: object
      properties:
        rental_id:
          type: string
          description: Id of the property (rental) whose calendar the date range applies to.
        start_date:
          type: string
          format: date-time
          description: Start of the date range (ISO 8601, e.g. 2026-07-01T14:00:00). The range is interpreted by calendar date, and this date must fall strictly before the end date, so the range spans at least one night.
        end_date:
          type: string
          format: date-time
          description: End of the date range (ISO 8601, e.g. 2026-07-05T11:00:00). Its calendar date must fall strictly after the start date.
      required:
      - end_date
      - rental_id
      - start_date
    BlockCalendar:
      type: object
      properties:
        rental_id:
          type: string
          description: Id of the property (rental) whose calendar the date range applies to.
        start_date:
          type: string
          format: date-time
          description: Start of the date range (ISO 8601, e.g. 2026-07-01T14:00:00). The range is interpreted by calendar date, and this date must fall strictly before the end date, so the range spans at least one night.
        end_date:
          type: string
          format: date-time
          description: End of the date range (ISO 8601, e.g. 2026-07-05T11:00:00). Its calendar date must fall strictly after the start date.
        blocked_reason:
          description: 'Reason the calendar range is being blocked.


            * `HOST_STAY` - Owner stay

            * `MAINTENANCE` - Maintenance

            * `OTHER` - Other

            * `PARTIAL_OCCUPANCY` - Partially occupied

            * `FULL_OCCUPANCY` - Fully occupied

            * `BLOCKED_BY_HOST` - Blocked by owner

            * `UPSELLING_REQUEST` - Upselling request'
          oneOf:
          - $ref: '#/components/schemas/BlockedReasonEnum'
          - $ref: '#/components/schemas/BlankEnum'
        blocked_notes:
          type: string
          description: Free-text notes about the block.
        return_cleaning:
          description: 'Cleaning arrangement for the owner''s return, setting who provides the bedding (owner or property manager). Defaults to a full cleaning with property-manager bedding when omitted.


            * `FULL_OWNER` - Full cleaning + Owner bedding

            * `FULL_PROPERTY_MANAGER` - Full cleaning + Property manager bedding'
          oneOf:
          - $ref: '#/components/schemas/ReturnCleaningEnum'
          - $ref: '#/components/schemas/BlankEnum'
        departure_cleaning:
          description: 'Cleaning arrangement for the owner''s departure, setting the cleaning level and who provides the bedding. Defaults to a full cleaning with property-manager bedding when omitted.


            * `FULL_OWNER` - Full cleaning + Owner bedding

            * `FULL_PROPERTY_MANAGER` - Full cleaning + Property manager bedding

            * `DELIVERY` - Delivery (No cleaning + Property manager bedding)

            * `CLEANING_ONLY` - Cleaning only (Full cleaning + Owner bedding)

            * `NO_CLEANING` - No cleaning'
          oneOf:
          - $ref: '#/components/schemas/DepartureCleaningEnum'
          - $ref: '#/components/schemas/BlankEnum'
      required:
      - end_date
      - rental_id
      - start_date
    ReturnCleaningEnum:
      enum:
      - FULL_OWNER
      - FULL_PROPERTY_MANAGER
      type: string
      description: '* `FULL_OWNER` - Full cleaning + Owner bedding

        * `FULL_PROPERTY_MANAGER` - Full cleaning + Property manager bedding'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
