openapi: 3.2.0
info:
  title: RentalReady Icals API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: icals
paths:
  /api/v3/icals/:
    get:
      operationId: icals_list
      parameters:
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - in: query
        name: is_active
        schema:
          type: boolean
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: platform_id
        schema:
          type: integer
      - in: query
        name: rental_id
        schema:
          type: string
          title: Contract number
        description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
      tags:
      - icals
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIcalSyncList'
          description: ''
    post:
      operationId: icals_create
      tags:
      - icals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IcalSync'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IcalSync'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IcalSync'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IcalSync'
          description: ''
  /api/v3/icals/{id}/:
    get:
      operationId: icals_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this iCal Sync.
        required: true
      tags:
      - icals
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IcalSync'
          description: ''
    put:
      operationId: icals_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this iCal Sync.
        required: true
      tags:
      - icals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIcalSync'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateIcalSync'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateIcalSync'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIcalSync'
          description: ''
    patch:
      operationId: icals_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this iCal Sync.
        required: true
      tags:
      - icals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIcalSync'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIcalSync'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIcalSync'
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIcalSync'
          description: ''
    delete:
      operationId: icals_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this iCal Sync.
        required: true
      tags:
      - icals
      security:
      - oauth2:
        - rentals:write
      responses:
        '204':
          description: No response body
components:
  schemas:
    PatchedUpdateIcalSync:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
          readOnly: true
        rental_name:
          type: string
          readOnly: true
        platform_id:
          type: integer
          readOnly: true
        platform_name:
          type: string
          readOnly: true
        ical_url:
          type: string
          format: uri
          title: ICal Import URL
          description: The URL to fetch the iCal calendar from
          maxLength: 200
        import_summary_as_guest_name:
          type: boolean
          description: If enabled, the event summary will be used as guest name in blocked notes
        is_active:
          type: boolean
          title: Active
          description: Only active syncs will be processed
        last_sync_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync time (UTC)
          description: Timestamp of the last successful sync
        last_sync_attempt_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync attempt time (UTC)
          description: Timestamp of the last sync attempt, regardless of outcome
        last_sync_error:
          type:
          - string
          - 'null'
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
    IcalSync:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        rental_name:
          type: string
          readOnly: true
        platform_id:
          type: integer
        platform_name:
          type: string
          readOnly: true
        ical_url:
          type: string
          format: uri
          title: ICal Import URL
          description: The URL to fetch the iCal calendar from
          maxLength: 200
        import_summary_as_guest_name:
          type: boolean
          description: If enabled, the event summary will be used as guest name in blocked notes
        is_active:
          type: boolean
          title: Active
          description: Only active syncs will be processed
        last_sync_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync time (UTC)
          description: Timestamp of the last successful sync
        last_sync_attempt_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync attempt time (UTC)
          description: Timestamp of the last sync attempt, regardless of outcome
        last_sync_error:
          type:
          - string
          - 'null'
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
      required:
      - created
      - ical_url
      - id
      - last_sync_at
      - last_sync_attempt_at
      - last_sync_error
      - modified
      - platform_id
      - platform_name
      - rental_id
      - rental_name
    UpdateIcalSync:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        rental_id:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
          readOnly: true
        rental_name:
          type: string
          readOnly: true
        platform_id:
          type: integer
          readOnly: true
        platform_name:
          type: string
          readOnly: true
        ical_url:
          type: string
          format: uri
          title: ICal Import URL
          description: The URL to fetch the iCal calendar from
          maxLength: 200
        import_summary_as_guest_name:
          type: boolean
          description: If enabled, the event summary will be used as guest name in blocked notes
        is_active:
          type: boolean
          title: Active
          description: Only active syncs will be processed
        last_sync_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync time (UTC)
          description: Timestamp of the last successful sync
        last_sync_attempt_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          title: Last sync attempt time (UTC)
          description: Timestamp of the last sync attempt, regardless of outcome
        last_sync_error:
          type:
          - string
          - 'null'
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
      required:
      - created
      - ical_url
      - id
      - last_sync_at
      - last_sync_attempt_at
      - last_sync_error
      - modified
      - platform_id
      - platform_name
      - rental_id
      - rental_name
    PaginatedIcalSyncList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/IcalSync'
        limit:
          type: integer
          example: 50
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
