openapi: 3.2.0
info:
  title: RentalReady Issue Files API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: issue_files
paths:
  /api/v3/issue_files/:
    get:
      operationId: issue_files_list
      description: 'Deny a field-agent application the WHOLE resource, reads included.


        Used by the issues / issue-files viewsets, where a field-agent application

        has no business reading the ticket backlog at all.'
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - issue_files
      security:
      - oauth2:
        - issues:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueFileList'
          description: ''
    post:
      operationId: issue_files_create
      description: 'Deny a field-agent application the WHOLE resource, reads included.


        Used by the issues / issue-files viewsets, where a field-agent application

        has no business reading the ticket backlog at all.'
      tags:
      - issue_files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueFile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IssueFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IssueFile'
        required: true
      security:
      - oauth2:
        - issues:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueFile'
          description: ''
  /api/v3/issue_files/{id}/:
    get:
      operationId: issue_files_retrieve
      description: 'Deny a field-agent application the WHOLE resource, reads included.


        Used by the issues / issue-files viewsets, where a field-agent application

        has no business reading the ticket backlog at all.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this ticket file.
        required: true
      tags:
      - issue_files
      security:
      - oauth2:
        - issues:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueFile'
          description: ''
    patch:
      operationId: issue_files_partial_update
      description: 'Deny a field-agent application the WHOLE resource, reads included.


        Used by the issues / issue-files viewsets, where a field-agent application

        has no business reading the ticket backlog at all.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this ticket file.
        required: true
      tags:
      - issue_files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedIssueFile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedIssueFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedIssueFile'
      security:
      - oauth2:
        - issues:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueFile'
          description: ''
    delete:
      operationId: issue_files_destroy
      description: 'Deny a field-agent application the WHOLE resource, reads included.


        Used by the issues / issue-files viewsets, where a field-agent application

        has no business reading the ticket backlog at all.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this ticket file.
        required: true
      tags:
      - issue_files
      security:
      - oauth2:
        - issues:write
      responses:
        '204':
          description: No response body
components:
  schemas:
    TagEnum:
      enum:
      - BEFORE
      - DURING
      - AFTER
      - QUOTE
      - INVOICE
      - REPORT
      type: string
      description: '* `BEFORE` - Before the incident

        * `DURING` - During the incident

        * `AFTER` - After the incident

        * `QUOTE` - Quote (cost estimation)

        * `INVOICE` - Invoice

        * `REPORT` - Report'
    BlankEnum:
      enum:
      - ''
    IssueFile:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        file:
          type: string
          format: uri
        tag:
          oneOf:
          - $ref: '#/components/schemas/TagEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        url:
          type: string
          readOnly: true
        title:
          type:
          - string
          - 'null'
          maxLength: 50
        issue:
          type:
          - integer
          - 'null'
        user:
          type: string
          readOnly: true
      required:
      - file
      - id
      - url
      - user
    NullEnum:
      enum:
      - null
    PaginatedIssueFileList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/IssueFile'
        limit:
          type: integer
          example: 50
    PatchedIssueFile:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        file:
          type: string
          format: uri
        tag:
          oneOf:
          - $ref: '#/components/schemas/TagEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        url:
          type: string
          readOnly: true
        title:
          type:
          - string
          - 'null'
          maxLength: 50
        issue:
          type:
          - integer
          - 'null'
        user:
          type: string
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
