openapi: 3.2.0
info:
  title: RentalReady Swikly Deposits API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: swikly_deposits
paths:
  /api/v3/swikly_deposits/:
    get:
      operationId: swikly_deposits_list
      parameters:
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: reservation_id
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: status
        schema:
          type: array
          items:
            type: string
            enum:
            - NOT_PAID
            - PAID
        description: '* `NOT_PAID` - Not paid

          * `PAID` - Paid'
        explode: true
        style: form
      tags:
      - swikly_deposits
      security:
      - oauth2:
        - swikly_deposits:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSwiklyDepositList'
          description: ''
  /api/v3/swikly_deposits/{id}/:
    get:
      operationId: swikly_deposits_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this swikly deposit.
        required: true
      tags:
      - swikly_deposits
      security:
      - oauth2:
        - swikly_deposits:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwiklyDeposit'
          description: ''
components:
  schemas:
    PaginatedSwiklyDepositList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/SwiklyDeposit'
        limit:
          type: integer
          example: 100
    SwiklyDeposit:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        reservation_id:
          type: integer
          readOnly: true
        amount:
          type: number
          format: double
        date_paid:
          type:
          - string
          - 'null'
          format: date-time
        status:
          allOf:
          - $ref: '#/components/schemas/Status6f9Enum'
          readOnly: true
          description: 'Swikly security-deposit status. Possible values: `NOT_PAID` — not yet paid; `PAID` — paid.


            * `NOT_PAID` - NOT_PAID

            * `PAID` - PAID'
        payment_link:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
      required:
      - amount
      - created
      - id
      - modified
      - payment_link
      - reservation_id
      - status
    Status6f9Enum:
      enum:
      - NOT_PAID
      - PAID
      type: string
      description: '* `NOT_PAID` - NOT_PAID

        * `PAID` - PAID'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
