openapi: 3.2.0
info:
  title: RentalReady Payment Acceptance Transactions API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: payment_acceptance_transactions
paths:
  /api/v3/payment_acceptance_transactions/:
    get:
      operationId: payment_acceptance_transactions_list
      parameters:
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: reservation
        schema:
          type: array
          items:
            type: integer
        description: Reservation
        explode: true
        style: form
      - in: query
        name: reservation_id
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      tags:
      - payment_acceptance_transactions
      security:
      - oauth2:
        - payment_acceptance_transactions:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPaymentAcceptanceTransactionList'
          description: ''
    post:
      operationId: payment_acceptance_transactions_create
      tags:
      - payment_acceptance_transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentAcceptanceTransaction'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentAcceptanceTransaction'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PaymentAcceptanceTransaction'
        required: true
      security:
      - oauth2:
        - payment_acceptance_transactions:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAcceptanceTransaction'
          description: ''
  /api/v3/payment_acceptance_transactions/{id}/:
    get:
      operationId: payment_acceptance_transactions_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this payment acceptance transaction.
        required: true
      tags:
      - payment_acceptance_transactions
      security:
      - oauth2:
        - payment_acceptance_transactions:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAcceptanceTransaction'
          description: ''
  /api/v3/payment_acceptance_transactions/{id}/refund/:
    post:
      operationId: payment_acceptance_transactions_refund_create
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this payment acceptance transaction.
        required: true
      tags:
      - payment_acceptance_transactions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: decimal
                  example: '300.00'
                  description: Amount to be refunded. Default is the full amount
                reason:
                  type: string
                  example: reason
                description:
                  type: string
                  example: description
      security:
      - oauth2:
        - payment_acceptance_transactions:write
      responses:
        '200':
          content:
            application/json:
              schema:
                example:
                  message: Payment Acceptance transaction refunded
          description: ''
        '400':
          content:
            application/json:
              schema:
                example:
                  message: Refund not allowed for acceptance transaction
          description: ''
        '403':
          content:
            application/json:
              schema:
                example:
                  message: Refund allowed only for stripe payment gateway
          description: ''
components:
  schemas:
    PaymentCollectionMethodEnum:
      enum:
      - CASH
      - BANK_TRANSFER
      - CHEQUE
      - STRIPE
      type: string
      description: '* `CASH` - Cash

        * `BANK_TRANSFER` - Bank Transfer

        * `CHEQUE` - Cheque

        * `STRIPE` - Stripe'
    CurrencyD53Enum:
      enum:
      - AED
      - AUD
      - BRL
      - CAD
      - CHF
      - CZK
      - EUR
      - GBP
      - HKD
      - IDR
      - ILS
      - JPY
      - KRW
      - MAD
      - MYR
      - PLN
      - RUB
      - SAR
      - THB
      - USD
      type: string
      description: '* `AED` - AED

        * `AUD` - AUD

        * `BRL` - BRL

        * `CAD` - CAD

        * `CHF` - CHF

        * `CZK` - CZK

        * `EUR` - EUR

        * `GBP` - GBP

        * `HKD` - HKD

        * `IDR` - IDR

        * `ILS` - ILS

        * `JPY` - JPY

        * `KRW` - KRW

        * `MAD` - MAD

        * `MYR` - MYR

        * `PLN` - PLN

        * `RUB` - RUB

        * `SAR` - SAR

        * `THB` - THB

        * `USD` - USD'
    PaginatedPaymentAcceptanceTransactionList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PaymentAcceptanceTransaction'
        limit:
          type: integer
          example: 100
    PaymentAcceptanceTransaction:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        currency:
          allOf:
          - $ref: '#/components/schemas/CurrencyD53Enum'
          readOnly: true
        amount:
          type: string
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
        amount_refunded:
          type: string
          format: decimal
          pattern: ^-?\d{0,13}(?:\.\d{0,2})?$
          readOnly: true
        is_splittable:
          type: boolean
          readOnly: true
          description: If false, the transaction cannot be splitted.
        payment_acceptance:
          type: integer
          readOnly: true
        reservation:
          type: integer
        voucher:
          type:
          - integer
          - 'null'
          readOnly: true
        payment_collection_method:
          $ref: '#/components/schemas/PaymentCollectionMethodEnum'
        stripe_payment_reference:
          type:
          - string
          - 'null'
          description: Stripe payment intent ID (pi_xxx). Required on write when payment_collection_method is STRIPE; returned on read for Stripe payments, null otherwise.
        note:
          type:
          - string
          - 'null'
        payment_date:
          type: string
          format: date
      required:
      - amount
      - amount_refunded
      - created
      - currency
      - id
      - is_splittable
      - modified
      - payment_acceptance
      - payment_collection_method
      - reservation
      - voucher
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
