openapi: 3.2.0
info:
  title: RentalReady Reviews API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: reviews
paths:
  /api/v3/reviews/:
    get:
      operationId: reviews_list
      description: Display the reviews linked to a reservation
      parameters:
      - in: query
        name: created_after
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        schema:
          type: string
          format: date-time
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified_after
        schema:
          type: string
          format: date-time
      - in: query
        name: modified_before
        schema:
          type: string
          format: date-time
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: reservation_id
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      tags:
      - reviews
      security:
      - oauth2:
        - reviews:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGuestReviewList'
          description: ''
  /api/v3/reviews/{id}/:
    get:
      operationId: reviews_retrieve
      description: Display the reviews linked to a reservation
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this guest review.
        required: true
      tags:
      - reviews
      security:
      - oauth2:
        - reviews:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestReview'
          description: ''
components:
  schemas:
    ReviewReplyAuthor:
      type: object
      properties:
        username:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
          pattern: ^[\w.@+-]+$
          maxLength: 150
        first_name:
          type: string
          maxLength: 150
        last_name:
          type: string
          maxLength: 150
      required:
      - username
    GuestReview:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type:
          - string
          - 'null'
          maxLength: 150
        created:
          type: string
          format: date-time
          readOnly: true
        title:
          type:
          - string
          - 'null'
          maxLength: 150
        rating:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        rating_accurate:
          type: string
          format: decimal
          pattern: ^-?\d{0,3}(?:\.\d{0,2})?$
        comment:
          type:
          - string
          - 'null'
        shareable:
          type: boolean
        country_code:
          type:
          - string
          - 'null'
          maxLength: 150
        private_comment:
          type:
          - string
          - 'null'
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/GuestReviewCriteria'
        reservation_id:
          type: integer
          readOnly: true
        reservation_platform_name:
          type: string
          readOnly: true
        guest_name:
          type: string
          readOnly: true
        rental_pk:
          type: integer
        replies:
          type: array
          items:
            $ref: '#/components/schemas/ReviewReply'
          readOnly: true
      required:
      - created
      - criteria
      - guest_name
      - id
      - rental_pk
      - replies
      - reservation_id
      - reservation_platform_name
    GuestReviewCriteria:
      type: object
      properties:
        name:
          type: string
          maxLength: 250
        rating:
          type: string
          format: decimal
          pattern: ^-?\d{0,6}(?:\.\d{0,2})?$
        comment:
          type:
          - string
          - 'null'
      required:
      - name
      - rating
    ReviewReply:
      type: object
      properties:
        message:
          type: string
        submitted_at:
          type:
          - string
          - 'null'
          format: date-time
        author:
          allOf:
          - $ref: '#/components/schemas/ReviewReplyAuthor'
      required:
      - author
      - message
    PaginatedGuestReviewList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/GuestReview'
        limit:
          type: integer
          example: 200
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
