openapi: 3.2.0
info:
  title: RentalReady Custom Fields API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: custom_fields
paths:
  /api/v3/custom_fields/:
    get:
      operationId: custom_fields_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - custom_fields
      security:
      - oauth2:
        - custom_fields:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomFieldDefinitionList'
          description: ''
    post:
      operationId: custom_fields_create
      tags:
      - custom_fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
        required: true
      security:
      - oauth2:
        - custom_fields:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinition'
          description: ''
  /api/v3/custom_fields/{id}/:
    get:
      operationId: custom_fields_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this custom field definition.
        required: true
      tags:
      - custom_fields
      security:
      - oauth2:
        - custom_fields:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinition'
          description: ''
    put:
      operationId: custom_fields_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this custom field definition.
        required: true
      tags:
      - custom_fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomFieldDefinition'
        required: true
      security:
      - oauth2:
        - custom_fields:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinition'
          description: ''
    patch:
      operationId: custom_fields_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this custom field definition.
        required: true
      tags:
      - custom_fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCustomFieldDefinition'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCustomFieldDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCustomFieldDefinition'
      security:
      - oauth2:
        - custom_fields:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldDefinition'
          description: ''
    delete:
      operationId: custom_fields_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this custom field definition.
        required: true
      tags:
      - custom_fields
      security:
      - oauth2:
        - custom_fields:write
      responses:
        '204':
          description: No response body
  /api/v3/custom_fields/{id}/search/:
    get:
      operationId: custom_fields_search_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this custom field definition.
        required: true
      - in: query
        name: lookup
        schema:
          type: string
          enum:
          - exact
          - gt
          - gte
          - like
          - lt
          - lte
          default: exact
        description: 'Comparison operator. Allowed lookups depend on the field type: text (exact, like), number (exact, gt, gte, lt, lte), boolean (exact), date (exact, gt, gte, lt, lte), select (exact).'
      - in: query
        name: value
        schema:
          type: string
        description: The value to search for. If omitted, returns all objects that have any value set for this custom field.
      tags:
      - custom_fields
      security:
      - oauth2:
        - custom_fields:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldSearchResponse'
          description: ''
components:
  schemas:
    PatchedCustomFieldDefinition:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        entity_type:
          $ref: '#/components/schemas/EntityTypeEnum'
        key:
          type: string
          maxLength: 100
        label:
          type: string
          maxLength: 255
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        options:
          type: array
          items:
            type: string
            maxLength: 255
          description: List of allowed values. Required for 'select' field type, must be omitted or empty for other types.
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
    PaginatedCustomFieldDefinitionList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldDefinition'
        limit:
          type: integer
          example: 100
    EntityTypeEnum:
      type: string
      enum:
      - reservation
      - rental
    CustomFieldDefinition:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        entity_type:
          $ref: '#/components/schemas/EntityTypeEnum'
        key:
          type: string
          maxLength: 100
        label:
          type: string
          maxLength: 255
        field_type:
          $ref: '#/components/schemas/FieldTypeEnum'
        options:
          type: array
          items:
            type: string
            maxLength: 255
          description: List of allowed values. Required for 'select' field type, must be omitted or empty for other types.
        created:
          type: string
          format: date-time
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
      required:
      - created
      - entity_type
      - field_type
      - id
      - key
      - label
      - modified
    CustomFieldSearchResponse:
      type: object
      properties:
        entity_type:
          $ref: '#/components/schemas/EntityTypeEnum'
        results:
          type: array
          items:
            type: string
          description: List of object IDs matching the search criteria.
      required:
      - entity_type
      - results
    FieldTypeEnum:
      enum:
      - text
      - number
      - boolean
      - date
      - select
      type: string
      description: '* `text` - Text

        * `number` - Number

        * `boolean` - Boolean

        * `date` - Date

        * `select` - Select'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
