openapi: 3.2.0
info:
  title: RentalReady Listings API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: listings
paths:
  /api/v3/listings/:
    get:
      operationId: listings_list
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - listings
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedListingList'
          description: ''
    post:
      operationId: listings_create
      tags:
      - listings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateListing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateListing'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateListing'
        required: true
      security:
      - oauth2:
        - rentals:write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateListing'
          description: ''
  /api/v3/listings/{id}/:
    get:
      operationId: listings_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - listings
      security:
      - oauth2:
        - rentals:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: ''
  /api/v3/listings/{id}/disable/:
    post:
      operationId: listings_disable_create
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - listings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Listing'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Listing'
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: ''
  /api/v3/listings/{id}/enable/:
    post:
      operationId: listings_enable_create
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - listings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Listing'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Listing'
      security:
      - oauth2:
        - rentals:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
          description: ''
components:
  schemas:
    Listing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        reservation_platform:
          allOf:
          - $ref: '#/components/schemas/ReservationPlatformBrief'
          readOnly: true
        rental:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
          readOnly: true
        title:
          type:
          - string
          - 'null'
          readOnly: true
        id_platform:
          type:
          - string
          - 'null'
          readOnly: true
        id_platform_2:
          type:
          - string
          - 'null'
          readOnly: true
          description: Use only when platform has multiple IDs, eg. HomeAway
        url:
          type:
          - string
          - 'null'
          format: uri
          readOnly: true
        is_active:
          type: boolean
          readOnly: true
        insurance:
          type:
          - integer
          - 'null'
          readOnly: true
        insurance_rate:
          type:
          - number
          - 'null'
          format: double
          readOnly: true
          description: Insurance rate as invoiced to client
      required:
      - id
      - id_platform
      - id_platform_2
      - insurance
      - insurance_rate
      - is_active
      - rental
      - reservation_platform
      - title
      - url
    ReservationPlatformBrief:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 50
      required:
      - id
      - name
    CreateListing:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        reservation_platform:
          type: integer
        rental:
          type: string
          title: Contract number
          description: "This field is not editable after creation.\n ALWAYS fill it with the correct value"
        title:
          type:
          - string
          - 'null'
          maxLength: 150
        id_platform:
          type:
          - string
          - 'null'
          maxLength: 255
        id_platform_2:
          type:
          - string
          - 'null'
          description: Use only when platform has multiple IDs, eg. HomeAway
          maxLength: 20
        url:
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        is_active:
          type: boolean
        insurance:
          type:
          - integer
          - 'null'
        insurance_rate:
          type:
          - number
          - 'null'
          format: double
          maximum: 1.0
          minimum: 0.0
          description: Insurance rate as invoiced to client
      required:
      - id
      - rental
      - reservation_platform
    PaginatedListingList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
        limit:
          type: integer
          example: 50
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
