openapi: 3.2.0
info:
  title: RentalReady Guest Registration API
  version: 1.0.0 (api)
  description: 'This API enables you to access and update resources from RentalReady (GuestReady PMS)


    ### Throttling


    Our API supports up to 400 requests per minute

    '
servers:
- url: https://pms.rentalready.io/api/v3/
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: guest_registration
paths:
  /api/v3/guest_registration/{id}/:
    get:
      operationId: guest_registration_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this reservation.
        required: true
      tags:
      - guest_registration
      security:
      - oauth2:
        - guest_registration:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortugalRegisteredGuestData'
          description: ''
components:
  schemas:
    PortugalRegisteredGuestData:
      type: object
      properties:
        pk:
          type: integer
          readOnly: true
          title: ID
        last_name:
          type:
          - string
          - 'null'
          pattern: ^([a-zA-Z\u00e7\u00c7\u00e3\u00c3\u00e1\u00c1\u00e0\u00c0\u00e9\u00c9\u00ea\u00ca\u00ed\u00cd\u00f5\u00d5\u00f4\u00d4\u00f3\u00d3\u00fa\u00da' ]|-)+$
          maxLength: 40
        first_name:
          type:
          - string
          - 'null'
          pattern: ^([a-zA-Z\u00e7\u00c7\u00e3\u00c3\u00e1\u00c1\u00e0\u00c0\u00e9\u00c9\u00ea\u00ca\u00ed\u00cd\u00f5\u00d5\u00f4\u00d4\u00f3\u00d3\u00fa\u00da' ]|-)+$
          maxLength: 40
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
        place_of_birth:
          type:
          - string
          - 'null'
          maxLength: 30
        nationality:
          type:
          - integer
          - 'null'
        nationality_code:
          type: string
          default: ''
        residence_country:
          type:
          - integer
          - 'null'
          title: Country of residence
        residence_country_code:
          type: string
          default: ''
        residence_place:
          type:
          - string
          - 'null'
          title: Place of residence
          maxLength: 30
        id_type:
          title: Travel document type
          oneOf:
          - $ref: '#/components/schemas/IdTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        id_country:
          type:
          - integer
          - 'null'
          title: Country of issuance
        country_code:
          type: string
          default: ''
        id_number:
          type:
          - string
          - 'null'
          title: Travel document number
          pattern: ^[a-zA-Z0-9]+$
          maxLength: 16
        check_in_date:
          type:
          - string
          - 'null'
          format: date
        check_out_date:
          type:
          - string
          - 'null'
          format: date
        is_primary_guest:
          type: boolean
          readOnly: true
          description: Whether this guest is the primary (first) registered guest.
      required:
      - is_primary_guest
      - pk
    BlankEnum:
      enum:
      - ''
    IdTypeEnum:
      enum:
      - P
      - B
      - O
      type: string
      description: '* `` - Select a travel document type

        * `P` - Passport

        * `B` - National ID card

        * `O` - Other'
    NullEnum:
      enum:
      - null
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /o/authorize/
          tokenUrl: /o/token/
          refreshUrl: /o/token/
          scopes:
            read: Read scope
            write: Write scope
            amenities:read: Read amenities
            amenities:write: Create, update and delete amenities
            photos:write: Create, update and delete photos
            reservations:read: Read reservations
            reservations:write: Create, update and cancel reservations
            reservation_platform:read: Read reservation platform
            reviews:read: Read reviews
            reviews:write: Write reviews
            owners:read: Read owners
            owners:write: Write owners
            hosts:read: Read hosts (deprecated)
            hosts:write: Write hosts (deprecated)
            offices:read: Read offices
            property_managers:read: Read property managers
            onboarding_requests:read: Read onboarding requests
            listing_requests:read: Read listing requests
            pricing:read: Read pricing
            pricing:write: Create, update and delete pricing
            users:read: Read user data
            calendar:read: Read calendar
            calendar:write: Write calendar
            rentals:read: Read rentals
            rentals:write: Create, update and delete rentals
            issues:read: Read issues
            issues:write: Write issues
            incidents:read: Read incidents
            incidents:write: Write incidents
            missions:read: Read missions
            missions:write: Write missions
            agents:read: Read agents
            smart_schedulers:read: Read smart schedulers
            smart_schedulers:write: Write smart schedulers
            neighbourhoods:read: Read neighbourhoods
            payment_links:read: Read payment links
            swikly_deposits:read: Read swikly deposits
            payout_adjustments:read: Read payout adjustments
            payout_adjustments:write: Write payout adjustments
            payment_acceptance_transactions:read: Read payment acceptance transactions
            payment_acceptance_transactions:write: Write payment acceptance transactions
            accounting_invoice:read: Read accounting invoices
            accounting_invoice:write: Write accounting invoices
            guest_registration:read: Read guest registration data
            conversations:read: Read conversations
            conversations:write: Write conversations
            messages:read: Read messages
            messages:write: Write messages
            inquiries:read: Read inquiries
            city_tax_rules:read: Read city tax rules
            custom_fields:read: Read custom fields
            custom_fields:write: Write custom fields
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
